@use "../../presets" as *;

.video {
  padding-bottom: 100px;

  background-color: $color-light;

  &__iframe {
    width: 100%;
    height: 600px;

    border: 0;

    @media (max-width: 980px) {
      height: 550px;
    }

    @media (max-width: 550px) {
      height: 350px;
    }
  }
}
